.alerts-wrapper {
  border: 1px solid #000;
  border-top: none;
  .alerts-header {  
    height: 50px;
    padding:15px; 
    .alerts-title {
      display: inline-block;
      font-size: 20px;
    }
    .search-bar {
      float: right;
    }
  }
  .alerts-content{
      height: calc(100vh - 100px);
      overflow: auto;
      .alert-item{
          cursor: pointer;
          &:hover{
              background:rgba(0,0,0,0.3);
          }
          &.active{
              color:#fff;
              background: #0000ff;
          }
      }
  }
}

