.filter-section{
    margin-bottom:20px;
    .filter-section-title{
        font-size: 16px;
        border-bottom: 1px solid #222;
        font-weight: 500;
    }
    .filter-section-content{
        font-size: 14px;
        .filter-item{
            padding:0px 15px 0px 15px;
            &.active{
                background:rgba(0,0,0,0.2);
            }
            .btn{
                padding-left:20px;
                text-align: left;
            }
            .counter{
                text-align: right;
                line-height: 40px;
            }
        }
        
    }
}